body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5f5f5;
    overflow: hidden;
}

#app {
    width: calc(100% - 12px);
    height: 100vh;
    overflow-y: auto;
}

.lucky-money-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.lucky-money {
    width: 100%;
    position: relative;
    transition: all 0.4s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin-bottom: 10px;
}

.lucky-money.selected > .lucky-money-back > .lucky-money-back-content {
    background-color: rgba(139, 0, 0, 0.5);
}

.lucky-money.selected {
    position: relative;
    z-index: 2;
    transition: all 0.4s;
}

.lucky-money.selected::before {
    content: "";
    position: absolute;
    transition: all 0.4s;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 2px solid #e60012;
    border-radius: 12px;
    background:
            url("/asset/new-year-border.png") top left / 25% no-repeat,
            url("/asset/new-year-border.png") top right / 25% no-repeat,
            url("/asset/new-year-border.png") bottom left / 25% no-repeat,
            url("/asset/new-year-border.png") bottom right / 25% no-repeat;
    transform: rotate(0deg);
    z-index: -1;
}

.lucky-money.flipped {
    transform: rotateY(180deg);
}


.lucky-money-front,
.lucky-money-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}




.lucky-money-front {
    z-index: 2;
    background: #e60012;
}

.lucky-money-front img,
.lucky-money-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lucky-money-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e60012;
    opacity: 1;
}

.lucky-money-back-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
    color: #FFD700;
    font-size: clamp(3rem, 4vw, 2rem);
    font-weight: 700;
}


.shuffle-button,
.music-button {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #e60012;
    color: #ffd700;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.shuffle-button {
    bottom: 20px;
    right: 20px;
}

.music-button {
    bottom: 20px;
    right: 90px;
}

.shuffle-button:hover,
.music-button:hover {
    background-color: #cc0010;
}

.shuffle-button svg,
.music-button svg {
    width: 30px;
    height: 30px;
}

@media (max-width: 1024px) {
    .lucky-money-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .lucky-money-wrapper {
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
        gap: 5px;
    }

    .lucky-money {
        margin-bottom: 5px;
    }

    .lucky-money-back-content {
        font-size: 18px;
        text-align: center;
    }


.shuffle-button,
.music-button {
    width: 50px;
    height: 50px;
    bottom: 10px;
}

    .shuffle-button {
        right: 10px;
    }

    .music-button {
        right: 70px;
    }

    .shuffle-button svg,
    .music-button svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .lucky-money-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}

@media (max-width: 360px) {
    .lucky-money-wrapper {
        padding: 3px;
        gap: 3px;
    }
}

.lucky-money-core-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    animation: open 1s forwards 1s;
}

@keyframes open {
    0% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 1;
        z-index: 100;

    }
}

.lucky-money-core {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000000;
    background: url("./asset/congratulations.jpg") no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: openCore 1s forwards 2s;
}

@keyframes openCore {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}


.reset-button {
    position: absolute;
    top: 12px;
    right: 12px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    padding:  4px 8px;
    color: red;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s;
}
